<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
  <link rel="stylesheet" href="styles/main.css" />

  <title>Book Notes</title>
</head>

<body>
  <%- include('partials/darkModeToggle.ejs') %>
  <%- include('partials/navbar.ejs') %>
  <div class="col-lg-8 mx-auto p-4 py-md-5">
    <main>
      <h1><%= title %></h1>
      <form action="/edit" method="post">
        <input type="hidden" name="updatedId" value="<%= id %>">
        <input type="hidden" name="googleId" value="<%= google_id %>">
        <select id="search_book" class="form-select" aria-label="Search the book here" name="book" value="<%= title %>">
        </select>
        <div class="mb-3 mt-3">
          <input type="number" class="form-control" value="<%= ratings%>" id="rating" name="rating" placeholder="Rating" max="10" min="0">
          <label for="rating">Rating</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="dateRead" name="dateRead" value="<%= date_read %>">
          <label for="dateRead">Date Read</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" value="<%= times_read %>" id="timesRead" placeholder="Number of times read" name="timesRead" min="0">
          <label for="timesRead">Times Read</label>
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control capitalize" placeholder="Leave a note here" id="notes" name="notes"><%= notes %></textarea>
          <label for="notes">Notes</label>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select capitalize" id="status" aria-label="Status of book" name="status">
            <option>Open this select menu</option>

            <% for(let i=0;i<status_options.length;i++) { %>
            <% if (status === status_options[i]) { %>
            <option value="<%=status_options[i]%>" selected><%=status_options[i] %></option>
            <% } else { %>
            <option value="<%=status_options[i]%>"><%=status_options[i] %></option>
            <% } %>
            <% } %>

          </select>
          <label for="status">Status of book</label>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select capitalize" id="type" aria-label="Type of book" name="type">
            <option>Open this select menu</option>
            <% for(let i=0;i<type_book.length;i++) { %>
            <% if (type === type_book[i]) { %>
            <option value="<%=type_book[i]%>" selected><%=type_book[i] %></option>
            <% } else { %>
            <option value="<%=type_book[i]%>"><%=type_book[i] %></option>
            <% } %>
            <% } %>

          </select>
          <label for="type">Type of book</label>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
      </form>
      <%- include("partials/footer.ejs") %>